.app.dark {
  --bg-color: #0a1542;
  --inverted-bg-color: #5a5a5a;
  --primary-color: #56c689;
  --secondary-color: #dd1009;
  --inverted-primary-color: #532d2d;
  --inverted-secondary-color: #41acac;
}